## ALIGNMENT FILE ##
alignment = Chr1Chr2Chr5_dated.phy;

## BRANCHLENGTHS: linked | unlinked ##
branchlengths = linked;

## MODELS OF EVOLUTION: all | allx | mrbayes | beast | gamma | gammai | <list> ##
models = beast;

# MODEL SELECCTION: AIC | AICc | BIC #
model_selection = AICc;

## DATA BLOCKS: see manual for how to define ##
[data_blocks]
UNKNOWN = 1-3504885;

## SCHEMES, search: all | user | greedy | rcluster | rclusterf | kmeans ##
[schemes]
search = greedy;
